<article wuiPadding>
  <br>
  <h1>Lists</h1>
  <p>List componenets represent actionable list items with either navigable links, selectable items, or toggable settings.</p>
  <section wui-card>
    <wui-card-header>
      <wui-card-title>Basic list variants</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <p>Simple list with left and right icons.</p>
      <wui-list>
        <wui-li routerLink="/colors">
          Basic link
        </wui-li>
        <wui-li routerLink="/colors">
          <wui-icon list-icon icon="paper-plane"></wui-icon>
          Basic link with icon
        </wui-li>
        <wui-li (click)="basicItemFn()">
          Basic button
        </wui-li>
        <wui-li (click)="basicItemFn()">
          <wui-icon list-icon icon="inbox"></wui-icon>
          Button with icon
        </wui-li>
      </wui-list>
    </wui-card-body>
  </section>

  <section wui-card>
    <wui-card-header>
      <wui-card-title>Simple List</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <p>Simple list with left or right icons.</p>
      <wui-list>
        <wui-li>
          <wui-icon list-icon icon="inbox"></wui-icon>
          <div list-body>Inbox</div>
        </wui-li>
        <wui-li>
          <wui-icon list-icon icon="star"></wui-icon>
          <div list-body>Starred</div>
        </wui-li>
        <wui-li>
          <wui-icon list-icon icon="paper-plane"></wui-icon>
          <div list-body>Sent Mail</div></wui-li>
        <wui-li>
          <wui-icon list-icon icon="pencil"></wui-icon>
          <div list-body>Drafts</div></wui-li>
      </wui-list>
      <hr wui-divider>
      <wui-list>
        <wui-li>
          <div list-body>All mail</div>
          <div list-right><wui-icon list-icon icon="info-circle"></wui-icon></div>
        </wui-li>
        <wui-li>
          <div list-body>Trash</div>
          <div list-right><wui-icon list-icon icon="info-circle"></wui-icon></div>
        </wui-li>
        <wui-li>
          <div list-body>Spam</div>
          <div list-right><wui-icon list-icon icon="info-circle"></wui-icon></div>
        </wui-li>
        <wui-li>
          <div list-body>Follow up</div>
          <div list-right><wui-icon list-icon icon="info-circle"></wui-icon></div>
        </wui-li>
      </wui-list>
    </wui-card-body>
  </section>
  
  <section wui-card>
    <wui-card-header>
      <wui-card-title>Chat List</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <p>Chat list with Avatars</p>
      <wui-list>
        <wui-li>
          <wui-avatar image="assets/images/Fight-Club-meatloaf-873493_852_480.jpg"></wui-avatar>
          <div list-body>Robert Paulson</div>
          <div list-right><wui-icon list-icon icon="comment"></wui-icon></div>
        </wui-li>
        <wui-li>
          <wui-avatar image="assets/images/Marla_01.jpg"></wui-avatar>
          <div list-body>Marla Singer</div>
          <div list-right><wui-icon list-icon icon="comment"></wui-icon></div>
        </wui-li>
        <wui-li>
          <wui-avatar image="assets/images/angel-face-4.png"></wui-avatar>
          <div list-body>Angel Face</div>
          <div list-right><wui-icon list-icon icon="comment"></wui-icon></div>
        </wui-li>
        <wui-li>
          <wui-avatar image="assets/images/Tyler-Durden.jpg"></wui-avatar>
          <div list-body>Tyler Durden</div>
          <div list-right><wui-icon list-icon icon="comment"></wui-icon></div>
        </wui-li>
      </wui-list>
    </wui-card-body>
  </section>
  
  <section wui-card>
    <wui-card-header>
      <wui-card-title>Dense single line list</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <p>List with Avatars</p>
      <wui-list dense>
        <wui-li>
          <div list-body>One for the money</div>
        </wui-li>
        <wui-li>
          <div list-body>Two for the show</div>
        </wui-li>
        <wui-li>
          <div list-body>Three to get ready</div>
        </wui-li>
        <wui-li>
          <div list-body>Now go, cat go</div>
        </wui-li>
      </wui-list>
    </wui-card-body>
  </section>