<article wuiPadding>
  <br>
  <h1>Lists</h1>
  <section wui-card>
    <wui-card-header>
      <wui-card-title>Simple List</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <p>Simple list with left and right icons.</p>
      <wui-list>
        <wui-list-item>
          <wui-icon list-icon icon="inbox"></wui-icon>
          <div list-body>Inbox</div>
        </wui-list-item>
        <wui-list-item>
          <wui-icon list-icon icon="star"></wui-icon>
          <div list-body>Starred</div>
        </wui-list-item>
        <wui-list-item>
          <wui-icon list-icon icon="paper-plane"></wui-icon>
          <div list-body>Sent Mail</div></wui-list-item>
        <wui-list-item>
          <wui-icon list-icon icon="pencil"></wui-icon>
          <div list-body>Drafts</div></wui-list-item>
      </wui-list>
      <wui-list>
        <wui-list-item>
          <div list-body>Inbox</div>
          <div list-right><wui-icon list-icon icon="info-circle"></wui-icon></div>
        </wui-list-item>
        <wui-list-item>
          <div list-body>Starred</div>
          <div list-right><wui-icon list-icon icon="info-circle"></wui-icon></div>
        </wui-list-item>
        <wui-list-item>
          <div list-body>Sent Mail</div>
          <div list-right><wui-icon list-icon icon="info-circle"></wui-icon></div>
        </wui-list-item>
        <wui-list-item>
          <div list-body>Drafts</div>
          <div list-right><wui-icon list-icon icon="info-circle"></wui-icon></div>
        </wui-list-item>
      </wui-list>
    </wui-card-body>
  </section>