<wui-page title="Accordion">
  <fl-section title="Examples">
    <fl-accordion>
      <fl-accordion-card title="Card 1" subtitle="Card 1 subtitle" icon-left="fa-envelope">Contents of card 1</fl-accordion-card>
      <fl-accordion-card title="Card 2" subtitle="Card 2 subtitle" icon-left="fa-paper-plane">Contents of card 2</fl-accordion-card>
      <fl-accordion-card title="Card 3" subtitle="Card 3 subtitle" icon-left="fa-pencil">Contents of card 3</fl-accordion-card>
    </fl-accordion>
  </fl-section>
</wui-page>