@import '../scss/_variables';
@import '../scss/mixins/_text';

%inputTextBase {
    @include user-select(none);
    color: $text-medium;
    margin: ($spacer * .5) 0;
    position: absolute;
    bottom: $spacer-y * 1.35;
}

.wui-input-group {
    display: inline-block;
    position: relative;
    padding-top: $spacer * 1.25;
    width: 256px;
}

.wui-input {
    position: relative;
    margin: ($spacer * .5) 0 ($spacer * 2);
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: textfield;

    &:disabled {
        cursor: not-allowed;
        color: $text-medium !important;
    }
}

.wui-input-border-wrapper {
    margin-bottom: $spacer-y;
}
.wui-input-border {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $text-medium;
    box-sizing: content-box;
    margin: 0;
    position: absolute;
    bottom: $spacer-y * 1.5;
    width: 100%;

    &.highlight {
        border-width: 2px;
        transform: scaleX(0);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
}
.wui-input-group.disabled {
    .wui-input {
        color: $text-medium;
    }
    .wui-placeholder {
        cursor: not-allowed;
    }
    .wui-input-border {
        border-bottom: 1px dashed $text-medium;
    }
}

.wui-placeholder {
    @extend %inputTextBase;
    opacity: 1;
    // transition: all 450ms cubic-bezier(0.23, 1, 0.32) 0ms;
    &:not(.empty) {
        opacity: 0;
    }
}

.wui-input-label {
    @extend %inputTextBase;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1;
    transform: scale(1) translateY(0);
    transform-origin: left top 0px;
    pointer-events: none;
    &:not(.empty) {
        transform: scale(.75) translateY(-$spacer-y * 1.75);
    }
}

.wui-input-help {
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: $font-size-xs;
}

.wui-focused {
    .wui-placeholder {
        // opacity: 0;
    }
    .wui-input-label {
        transform: scale(.75) translateY(-$spacer-y * 1.75);
    }
    .wui-input-border.highlight {
        transform: scaleY(1);
    }
}

// Possible class for allowing input groups without a fixed height
.wui-input-group.fluid {

}

// bit of a hack. the @ContentChild is returning invalid
.wui-input-group:not(.wui-focused) {
    .wui-input-label {
        color: $text-medium !important;
    }
}