<label flLabel *ngIf="hasLabel()" [class.empty]="_flInputChild.empty">{{_flInputChild.label}}</label>
<div class="fl-input-wrapper">
    <ng-content select="input"></ng-content>
</div>
<div class="fl-placeholder" *ngIf="hasPlaceholder()" [class.empty]="_flInputChild.empty">
    {{_flInputChild.hint}}
    <span class="fl-input-required" *ngIf="_flInputChild.required">*</span>
</div>
<div>
    <hr class="fl-input-border">
    <hr class="fl-input-border highlight" flInputBorder>
</div>
<!--<p class="fl-input-help">tips</p>-->