<article wuiPadding>
  <br>
  <h1>Avatar</h1>
  <p>Avatars can be used to represent peoples or objects within a circle. They can contain custom colors and feature images, icons or letters.</p>

  <wui-card>
    <wui-card-header>
      <wui-card-title>Examples</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <wui-list>
        <wui-li>
          <wui-avatar image="assets/images/Marla_01.jpg"></wui-avatar>
          Image avatar
        </wui-li>
        <wui-li>
          <wui-avatar icon="rocket"></wui-avatar>
          FontIcon avatar
        </wui-li>
        <wui-li>
          <wui-avatar>A</wui-avatar>
          Letter avatar
        </wui-li>
        <wui-li>
        </wui-li>
      </wui-list>
    </wui-card-body>
  </wui-card>
</article>