<article flPadding>
  <br>
  <h1>Avatar</h1>
  <p>Avatars can be used to represent peoples or objects within a circle. They can contain custom colors and feature images, icons or letters.</p>

  <fl-section title="Examples">
    <fl-list>
      <fl-li>
        <fl-avatar image="assets/images/Marla_01.jpg"></fl-avatar>
        Image avatar
      </fl-li>
      <fl-li>
        <fl-avatar icon="rocket"></fl-avatar>
        FontIcon avatar
      </fl-li>
      <fl-li>
        <fl-avatar>A</fl-avatar>
        Letter avatar
      </fl-li>
      <fl-li>
      </fl-li>
    </fl-list>
  </fl-section>
</article>