@import '../scss/_mixins';
@import '../scss/_variables';
@import '../scss/_type';

.fl-section {
    display: block;
    margin-bottom: $spacer-y;
    width: 100%;
}

%fl-section-base {
    display: block;
    position: relative;
}

.fl-section-header {
    @extend %fl-section-base;
    // border-bottom: 1px solid $theme-accent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: $spacer-y;
    .fl-section-h1 {
        margin: 0;
    }
}

.fl-section-title {
    @extend .h1;
    display: block;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    letter-spacing: .05em;
    margin: 0;
    padding-bottom: .2em;

    border-bottom-width: 3px;
    border-bottom-style: solid;
    // border-image:
    //     linear-gradient(to right, $theme-accent, $theme-accent 50px, rgba(0, 0, 0, 0) 50px);
    border-image-slice: 1 !important;
}

.fl-section-body {
    @extend %fl-section-base;
}