<wui-page title="Drawer">
  <p class="lead">Referred to as "side nav" in Google Material, the drawer is a common structural design element that allows content to be placed off screen and toggled into view.</p>
  <p>Material design uses the drawer/side nav as primarily as navigation lists. The Flux spec extends the role to include further meta-data, relevent to the content of the screen.</p>

  <fl-section title="Examples">
    <!--<fl-drawer-container>
      <fl-drawer #sidenav>
        <h1>Something bigger</h1>
        <p>Hello world</p>
      </fl-drawer>
      <button fl-button (click)="sidenav.toggle()">Toggle</button>
    </fl-drawer-container>-->
  </fl-section>
</wui-page>