<wui-page title="Button">
  <p>Flat buttons may be text or an icon. 
They may be used in dialogs, toolbars, or inline.
They do not lift, but fill with color on press.</p>

  <fl-section title="Flat Buttons">
    <fl-section-body>
      <button fl-button>Default</button>
      <!--<button fl-flat-btn color="primary">Primary</button>
      <button fl-flat-btn color="accent">Accent</button>
      <button fl-flat-btn color="warning">Warning</button>
      <button fl-flat-btn color="danger">Danger</button>
      <button fl-flat-btn disabled>Disabled</button>-->
    </fl-section-body>
  </fl-section>

  <fl-section title="Properties">

  </fl-section>
</wui-page>