@import '../scss/_variables';
@import '../scss/lists';

.fl-list-item {
    @include list-item-base();

    .fl-avatar,
    .fl-icon {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        flex: none;
    }
    .fl-avatar {
        width: 40px;
        height: 40px;
    }
}

.fl-list.dense .fl-list-item {
    font-size: $font-size-sm;
    min-height: 40px;
    padding: ($spacer-y * .25) $spacer-x;
}

.fl-list-item-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;

    &.offset {
        margin-left: 56px;
    }
}

.fl-icon + .fl-list-item-text {
    margin-left: $spacer-x * 2;
}
.fl-avatar + .fl-list-item-text {
    margin-left: $spacer-x;
}


// Theme colors
.fl-theme-light {
    .fl-list-item {
        &:hover,
        &:focus {
            background-color: $hover-light;
        }
    }
}
.fl-theme-dark {
    .fl-list-item {
        &:hover,
        &:focus {
            background-color: $hover-dark;
        }
    }
}