<wui-page title="Formatting Helpers">
  <p>A collection of standard HTML elements with that will appear as per the theme when used with the associated directive</p>
  <fl-section>
    <fl-section-title>flKbd and flCode</fl-section-title>
    <p>Assists CSS styles by appling a colored background to <kbd flKbd>&lt;kbd&gt;</kbd> and <code flCode>&lt;code&gt;</code> elements, consistent with the current theme.</p>
    <h2 flSubheader>Properties</h2>
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Type</td>
          <td>Default</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>flKbd, flCode</td>
          <td>string</td>
          <td></td>
          <td>Applies the directive to the element. Color is dictated by the Theme's, highlight, property.</td>
        </tr>
      </tbody>
    </table>
  </fl-section>
</wui-page>