<article wuiPadding>
  <br>
  <h1>Forms</h1>
  <section wui-card>
    <wui-card-header>
      <wui-card-title>Flat Buttons</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <button wui-button>Default</button>
      <button wui-button color="primary">Primary</button>
      <button wui-button color="accent">Accent</button>
      <button wui-button color="warning">Warning</button>
      <button wui-button color="danger">Danger</button>
      <!--<button wui-button color="bordered">Bordered</button>-->
      <!--<button wui-button>Link</button>-->
      <button wui-button disabled>Disabled</button>
    </wui-card-body>
  </section>
  
  <section wui-card>
    <wui-card-header>
      <wui-card-title>Raised Buttons</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <button wui-raised-button>Default</button>
      <button wui-raised-button color="primary">Primary</button>
      <button wui-raised-button color="accent">Accent</button>
      <button wui-raised-button color="warning">Warning</button>
      <button wui-raised-button color="danger">Danger</button>
      <!--<button wui-raised-button color="bordered">Bordered</button>-->
      <!--<button wui-raised-button>Link</button>-->
      <button wui-button disabled>Disabled</button>
    </wui-card-body>
  </section>
</article>