<section>
  <div class="section-head">Buttons</div>
  <div class="section-body">
    <button wui-button>Default</button>
    <button wui-button color="primary">Primary</button>
    <button wui-button color="secondary">Secondary</button>
    <button wui-button color="warning">Warning</button>
    <button wui-button color="danger">Danger</button>
    <button wui-button color="bordered">Bordered</button>
    <button wui-button>Link</button>
    <button wui-button color="primary" disabled>Disabled</button>
  </div>
</section>