<section>
  <div class="section-head">Flat Buttons</div>
  <div class="section-body">
    <button wui-button>Default</button>
    <!--<button wui-button color="primary">Primary</button>-->
    <button wui-button color="accent">Accent</button>
    <button wui-button color="warning">Warning</button>
    <button wui-button color="danger">Danger</button>
    <!--<button wui-button color="bordered">Bordered</button>-->
    <!--<button wui-button>Link</button>-->
    <button wui-button disabled>Disabled</button>
  </div>
</section>
<section>
  <div class="section-head">Raised Buttons</div>
  <div class="section-body">
    <button wui-raised-button>Default</button>
    <button wui-raised-button color="accent">Accent</button>
    <button wui-raised-button color="warning">Warning</button>
    <button wui-raised-button color="danger">Danger</button>
    <button wui-raised-button disabled>Disabled</button>
  </div>
</section>