<article wuiPadding>
  <br>
  <h1>Inputs</h1>
  <section fl-section>
    <fl-section-header>
      <fl-section-title>Simple Text Fields</fl-section-title>
    </fl-section-header>
    <fl-section-body fxLayout="column">
      <fl-input-group>
        <input type="text" flInput hint="Placeholder text">
      </fl-input-group>
      <fl-input-group>
        <input type="text" flInput hint="Required field" required>
      </fl-input-group>
      <fl-input-group>
        <input type="text" flInput label="Label text" value="Default value">
      </fl-input-group>
      <fl-input-group>
        <input type="text" flInput label="Floating label">
      </fl-input-group>
      <fl-input-group class="fl-block">
        <input type="text" flInput hint="Full width">
      </fl-input-group>
    </fl-section-body>
  </section>
  
  <section fl-section>
    <fl-section-header>
      <fl-section-title>Disabled Fields</fl-section-title>
    </fl-section-header>
    <fl-section-body fxLayout="column">
      <fl-input-group>
        <input type="text" flInput hint="Disabled placeholder" disabled>
      </fl-input-group>
      <fl-input-group>
        <input type="text" flInput label="Label text" value="Disabled value" disabled>
      </fl-input-group>
      <fl-input-group>
        <input type="text" flInput label="Disabled label" disabled>
      </fl-input-group>
    </fl-section-body>
  </section>
</article>