<article flPadding>
  <br>
  <h1>Colors</h1>
    <fl-section title="Hues">
      <div fxLayout="rows" fxLayoutGap="16px">
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" flBgColor="primary">Primary</li>
            <li class="palette-color" flBgColor="primaryLight">Primary light</li>
            <li class="palette-color" flBgColor="primaryDark">Primary Dark</li>
          </ul>
        </div>
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" flBgColor="accent">Accent</li>
            <li class="palette-color" flBgColor="accentLight">Accent light</li>
            <li class="palette-color" flBgColor="accentDark">Accent dark</li>
          </ul>
        </div>
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" flBgColor="accent">Links</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
      </div>
      <div fxLayout="rows" fxLayoutGap="16px">
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" flBgColor="success">Success</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" flBgColor="warning">Warning</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" flBgColor="danger">Danger</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
      </div>
  </fl-section>
</article>