<article wuiPadding>
  <h1>Colors</h1>
    <section wui-card>
    <wui-card-header>
      <wui-card-title>Hues</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <div fxLayout="rows" fxLayoutGap="16px">
        <div fxFlex="33%">
          <h2 class="headline">$theme-primary</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiColor="primary"></li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <h2 class="headline">$theme-accent</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiColor="accent"></li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <h2 class="headline">$theme-info</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiColor="info"></li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
      </div>
      <div fxLayout="rows" fxLayoutGap="16px">
        <div fxFlex="33%">
          <h2 class="headline">$theme-success</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiColor="success"></li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <h2 class="headline">$theme-warning</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiColor="warning"></li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <h2 class="headline">$theme-danger</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiColor="danger"></li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
      </div>
    </wui-card-body>
  </section>

  <section wui-card>
    <wui-card-header>
      <wui-card-title>Formatting</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <div fxLayout="rows" fxLayoutGap="16px">
        <div fxFlex="33%">
          <h2 class="headline">Backgrounds</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiColor="darkest">$bg-darkest</li>
            <li class="palette-color" wuiColor="darker">$bg-darker</li>
            <li class="palette-color" wuiColor="dark">$bg-dark</li>
            <li class="palette-color" wuiColor="medium">$bg-medium</li>
            <li class="palette-color" wuiColor="light">$bg-light</li>
            <li class="palette-color" wuiColor="lighter">$bg-lighter</li>
          </ul>
        </div>
        <div fxFlex="33%">
          <h2 class="headline">Text</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color"><p wuiColor="darker">$text-darker</p></li>
            <li class="palette-color"><p wuiColor="dark">$text-dark</p></li>
            <li class="palette-color"><p wuiColor="medium">$text-medium</p></li>
            <li class="palette-color"><p wuiColor="light">$text-light</p></li>
            <li class="palette-color"><p wuiColor="lighter">$text-lighter</p></li>
          </ul>
        </div>
      </div>
    </wui-card-body>
  </section>
  
  <section wui-card>
    <wui-card-header>
      <wui-card-title>Shadows</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <div fxLayout="rows" fxLayoutGap="16px">
        
      </div>
    </wui-card-body>
  </section>
</article>