<article wuiPadding>
  <br>
  <h1>Colors</h1>
    <section wui-card>
    <wui-card-header>
      <wui-card-title>Hues</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <div fxLayout="rows" fxLayoutGap="16px">
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiBackground="primary">Primary</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiBackground="accent">Accent</li>
            <li class="palette-color" wuiBackground="accentLight">Accent light</li>
            <li class="palette-color" wuiBackground="accentDark">Accent dark</li>
          </ul>
        </div>
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiBackground="link">Links</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
      </div>
      <div fxLayout="rows" fxLayoutGap="16px">
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiBackground="success">Success</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiBackground="warning">Warning</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
        <div fxFlex="33%">
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiBackground="danger">Danger</li>
            <li class="palette-color"></li>
            <li class="palette-color"></li>
          </ul>
        </div>
      </div>
    </wui-card-body>
  </section>

  <section wui-card>
    <wui-card-header>
      <wui-card-title>Formatting</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <div fxLayout="rows" fxLayoutGap="16px">
        <div fxFlex="33%">
          <h2 class="headline">Backgrounds</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color" wuiBackground="darkest">$bg-darkest</li>
            <li class="palette-color" wuiBackground="darker">$bg-darker</li>
            <li class="palette-color" wuiBackground="dark">$bg-dark</li>
            <li class="palette-color" wuiBackground="medium">$bg-medium</li>
            <li class="palette-color" wuiBackground="light">$bg-light</li>
            <li class="palette-color" wuiBackground="lighter">$bg-lighter</li>
          </ul>
        </div>
        <div fxFlex="33%">
          <h2 class="headline">Text</h2>
          <ul class="list-unstyled palette-list">
            <li class="palette-color"><p wuiBackground="darker">$text-darker</p></li>
            <li class="palette-color"><p wuiBackground="dark">$text-dark</p></li>
            <li class="palette-color"><p wuiBackground="medium">$text-medium</p></li>
            <li class="palette-color"><p wuiBackground="light">$text-light</p></li>
            <li class="palette-color"><p wuiBackground="lighter">$text-lighter</p></li>
          </ul>
        </div>
      </div>
    </wui-card-body>
  </section>
  
  <section wui-card>
    <wui-card-header>
      <wui-card-title>Shadows</wui-card-title>
    </wui-card-header>
    <wui-card-body>
      <div fxLayout="rows" fxLayoutGap="16px">
        
      </div>
    </wui-card-body>
  </section>
</article>