// Colors

$white:  #fff !default;
$black:  #000 !default;
$red:    #D4152B !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff2080 !default;
$purple: #613d7c !default;

// Grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$bg-darkest:                #13141B !default;
$bg-darker:                 #1B1E27 !default;
$bg-dark:                   #232837 !default;
$bg-medium:                 #2F3646 !default;
$bg-light:                  #455066 !default;
$bg-lighter:                #5B6882 !default;

$text-darker:               #72809B !default;
$text-dark:                 #919DB5 !default;
$text-medium:               #A8B2C7 !default;
$text-light:                #F0F1F6 !default;
$text-lighter:              #FFFFFF !default;


// Theme colors: Light
$highlight-light:           #e0e0e0 !default;

// Theme colors: dark
$highlight-dark:            #424242;
$secondary-text-dark:       rgba(white, 0.7);



// Google Material Design: rgba as hex (less cpu intensive over known backgrounds)
$black-87:                  #202020;
$black-54:                  #737373;
$black-38:                  #9B9B9B;
$black-26:                  #BDBDBD;
$black-08:                  #E6E6E6;

$black-87a:                 rgba(0,0,0, .87);
$black-54a:                 rgba(0,0,0, .54);
$black-38a:                 rgba(0,0,0, .38);

$white-30:                  #7A7A7A;
$white-30a:                 rgba(255, 255, 255, .3);

$gray-100:                  #F5F5F5;

$hover-light:               $black-08;
$active-light:              #CBCBCB;
$disabled-light:            $black-08;

$hover-dark:                $white-30;
$active-dark:               #646464;
$disabled-dark:             $white-30;

// Material Design rgba values (Useful for themed colored backgrounds)
$hover-light-alpha:         rgba(0, 0, 0, 0.08);
$active-light-alpha:        rgba(0, 0, 0, .18);
$disabled-light-alpha:      $hover-light-alpha;

$hover-dark-alpha:          rgba(255, 255, 255, .26);
$active-dark-alpha:         rgba(255, 255, 255, .25);
$disabled-dark-alpha:       $hover-dark-alpha;