.wui-depth-1 {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
// .wui-depth-2 {
//   box-shadow: $whiteframe-shadow-2dp;
// }
// .wui-depth-3 {
//   box-shadow: $whiteframe-shadow-3dp;
// }
.wui-depth-4 {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
// .wui-depth-5 {
//   box-shadow: $whiteframe-shadow-5dp;
// }
// .wui-depth-6 {
//   box-shadow: $whiteframe-shadow-6dp;
// }
// .wui-depth-7, .wui-depth- {
//   box-shadow: $whiteframe-shadow-7dp;
// }
.wui-depth-8 {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
// .wui-depth-9 {
//   box-shadow: $whiteframe-shadow-9dp;
// }
// .wui-depth-10, .wui-depth- {
//   box-shadow: $whiteframe-shadow-10dp;
// }
// .wui-depth-11 {
//   box-shadow: $whiteframe-shadow-11dp;
// }
// .wui-depth-12 {
//   box-shadow: $whiteframe-shadow-12dp;
// }
// .wui-depth-13, .wui-depth-{
//   box-shadow: $whiteframe-shadow-13dp;
// }
// .wui-depth-14 {
//   box-shadow: $whiteframe-shadow-14dp;
// }
// .wui-depth-15 {
//   box-shadow: $whiteframe-shadow-15dp;
// }
// .wui-depth-16 {
//   box-shadow: $whiteframe-shadow-16dp;
// }
// .wui-depth-17 {
//   box-shadow: $whiteframe-shadow-17dp;
// }
// .wui-depth-18 {
//   box-shadow: $whiteframe-shadow-18dp;
// }
// .wui-depth-19 {
//   box-shadow: $whiteframe-shadow-19dp;
// }
// .wui-depth-20 {
//   box-shadow: $whiteframe-shadow-20dp;
// }
// .wui-depth-21 {
//   box-shadow: $whiteframe-shadow-21dp;
// }
// .wui-depth-22 {
//   box-shadow: $whiteframe-shadow-22dp;
// }
// .wui-depth-23 {
//   box-shadow: $whiteframe-shadow-23dp;
// }
// .wui-depth-24 {
//   box-shadow: $whiteframe-shadow-24dp;
// }