.fl-shadow-1 {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
// .fl-shadow-2 {
//   box-shadow: $whiteframe-shadow-2dp;
// }
// .fl-shadow-3 {
//   box-shadow: $whiteframe-shadow-3dp;
// }
.fl-shadow-4 {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
// .fl-shadow-5 {
//   box-shadow: $whiteframe-shadow-5dp;
// }
// .fl-shadow-6 {
//   box-shadow: $whiteframe-shadow-6dp;
// }
// .fl-shadow-7, .fl-shadow- {
//   box-shadow: $whiteframe-shadow-7dp;
// }
.fl-shadow-8 {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
// .fl-shadow-9 {
//   box-shadow: $whiteframe-shadow-9dp;
// }
// .fl-shadow-10, .fl-shadow- {
//   box-shadow: $whiteframe-shadow-10dp;
// }
// .fl-shadow-11 {
//   box-shadow: $whiteframe-shadow-11dp;
// }
// .fl-shadow-12 {
//   box-shadow: $whiteframe-shadow-12dp;
// }
// .fl-shadow-13, .fl-shadow-{
//   box-shadow: $whiteframe-shadow-13dp;
// }
// .fl-shadow-14 {
//   box-shadow: $whiteframe-shadow-14dp;
// }
// .fl-shadow-15 {
//   box-shadow: $whiteframe-shadow-15dp;
// }
// .fl-shadow-16 {
//   box-shadow: $whiteframe-shadow-16dp;
// }
// .fl-shadow-17 {
//   box-shadow: $whiteframe-shadow-17dp;
// }
// .fl-shadow-18 {
//   box-shadow: $whiteframe-shadow-18dp;
// }
// .fl-shadow-19 {
//   box-shadow: $whiteframe-shadow-19dp;
// }
// .fl-shadow-20 {
//   box-shadow: $whiteframe-shadow-20dp;
// }
// .fl-shadow-21 {
//   box-shadow: $whiteframe-shadow-21dp;
// }
// .fl-shadow-22 {
//   box-shadow: $whiteframe-shadow-22dp;
// }
// .fl-shadow-23 {
//   box-shadow: $whiteframe-shadow-23dp;
// }
// .fl-shadow-24 {
//   box-shadow: $whiteframe-shadow-24dp;
// }