@import '../scss/variables';
@import '../scss/colors';

.fl-grid-list {
  display: block;
  position: relative;
}

.fl-grid-tile {
  display: block;
  position: absolute;
  overflow: hidden;

  .fl-grid-tile-content {
    display: flex;
    position: absolute;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0;
    margin: 0;
  }
}

.fl-grid-tile-overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer;
  overflow: hidden;

  position: absolute;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.38);
  color: $text-light;

  &.header {
    top: 0;
  }

  &.footer {
    bottom: 0;
  }

  > button {
    margin-top: -$spacer * .75;
    margin-bottom: -$spacer * .75;
  }

  > button:first-child {
    margin-left: -$spacer;
  }

  > button:last-child {
    margin-right: -$spacer * .75;
  }
}