<article wuiPadding>
  <br>
  <h1>Typography</h1>
  <section fl-section>
    <fl-section-header>
      <fl-section-title>Fonts</fl-section-title>
    </fl-section-header>
    <fl-section-body>
      <h2 class="subtitle">Yantraman</h2>
      <div fxLayout="row">
        <div fxFlex="50" style="word-break: break-all">
          <h1>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
          <h1>abcdefghijklmnopqrstuvwxyz</h1>
        </div>
        <div fxFlex="50" style="word-break: break-all">
          <h1>'?'"!"(%)[#]&#123;@&#125;/&amp;&lt;-+&#247;&times;=&gt;&reg;&copy;:;,.*</h1>
          <h1>0123456789</h1>
        </div>
      </div>
      <h2 class="subtitle">News Cycle</h2>
      <div fxLayout="row">
        <div fxFlex="50">
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
          <p>abcdefghijklmnopqrstuvwxyz</p>
        </div>
        <div fxFlex="50">
          <p>'?'"!"(%)[#]&#123;@&#125;/&amp;&lt;-+&#247;&times;=&gt;&reg;&copy;:;,.*</p>
          <p>0123456789</p>
        </div>
      </div>
    </fl-section-body>
  </section>
  
  <section fl-section>
    <fl-section-header>
      <fl-section-title>Headings</fl-section-title>
    </fl-section-header>
    <fl-section-body>
      <h1>h1. Everyone told me <small>not to walk on that beach.</small></h1>
      <h2>h2. Said seagulls gonna come, <small>Poke you in the coconut</small></h2>
      <h3>h3. And they did <small>And they did</small></h3>
      <h4>h4. Quit that bangin! <small>Stop it, please</small></h4>
      <h5>h5. Quit that bangin! <small>Stop it, please</small></h5>
      <h6>h6. Quit that bangin! <small>Stop it, please</small></h6>
    </fl-section-body>
  </section>
  
  <section fl-section>
    <fl-section-header>
      <fl-section-title>Display Headings</fl-section-title>
    </fl-section-header>
    <fl-section-body>
      <h1 class="display-1" wuiColor="primary">.display-1</h1>
      <h2 class="display-2">.display-2</h2>
      <h3 class="display-3">.display-3</h3>
      <h4 class="display-4">.display-4</h4>
      <h1 class="headline">.headline</h1>
      <h2 class="title">.title</h2>
      <h3 class="subtitle">.subtitle</h3>
    </fl-section-body>
  </section>
  
  <section fl-section>
    <fl-section-header>
      <fl-section-title>Lead</fl-section-title>
    </fl-section-header>
    <fl-section-body>
      <p class="lead">Everyone told me, not to walk on that beach.</p>
    </fl-section-body>
  </section>
  
  <section fl-section>
    <fl-section-header>
      <fl-section-title>Lists</fl-section-title>
    </fl-section-header>
    <fl-section-body>
      <h2 class="subtitle">Unstyled</h2>
      <ul class="list-unstyled">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>
  
      <h2 class="subtitle">Inline</h2>
      <ul class="list-inline">
        <li class="list-inline-item">One</li>
        <li class="list-inline-item">Two</li>
        <li class="list-inline-item">Three</li>
      </ul>
    </fl-section-body>
  </section>
</article>