<section class="section" wuiPadding>
  <div class="section-head">
    <h1 class="title">Fonts</h1>
  </div>
  <div class="section-body">
    <h2 class="subheader">Yantraman</h2>
    <div fxLayout="row">
      <div fxFlex="50" style="word-break: break-all">
        <h1>ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
        <h1>abcdefghijklmnopqrstuvwxyz</h1>
      </div>
      <div fxFlex="50" style="word-break: break-all">
        <h1>'?'"!"(%)[#]&#123;@&#125;/&amp;&lt;-+&#247;&times;=&gt;&reg;&copy;:;,.*</h1>
        <h1>0123456789</h1>
      </div>
    </div>
    <h2 class="subheader">News Cycle</h2>
    <div fxLayout="row">
      <div fxFlex="50">
        <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
        <p>abcdefghijklmnopqrstuvwxyz</p>
      </div>
      <div fxFlex="50">
        <p>'?'"!"(%)[#]&#123;@&#125;/&amp;&lt;-+&#247;&times;=&gt;&reg;&copy;:;,.*</p>
        <p>0123456789</p>
      </div>
    </div>
  </div>
</section>

<section class="section" wuiPadding>
  <div class="section-head">
    <h1 class="title">Headings</h1>
  </div>
  <div class="section-body">
    <h1>h1. Everyone told me <small>not to walk on that beach.</small></h1>
    <h2>h2. Said seagulls gonna come, <small>Poke you in the coconut</small></h2>
    <h3>h3. And they did <small>And they did</small></h3>
    <h4>h4. Quit that bangin! <small>Stop it, please</small></h4>
    <h5>h5. Quit that bangin! <small>Stop it, please</small></h5>
    <h6>h6. Quit that bangin! <small>Stop it, please</small></h6>
  </div>
</section>

<section class="section" wuiPadding>
  <div class="section-head">
    <h1 class="title">Display Headings</h1>
  </div>
  <div class="section-body">
    <h1 class="display-1">.display-1</h1>
    <h2 class="display-2">.display-2</h2>
    <h3 class="display-3">.display-3</h3>
    <h4 class="display-4">.display-4</h4>
    <h1 class="headline">.headline</h1>
    <h2 class="title">.title</h2>
    <h3 class="subheader">.subheader</h3>
  </div>
</section>

<section class="section" wuiPadding>
  <div class="section-head">
    <h1 class="title">Lead</h1>
  </div>
  <div class="section-body">
    <p class="lead" wuiColor="danger">Everyone told me, not to walk on that beach.</p>
  </div>
</section>