@import '../scss/_variables';
@import '../scss/mixins';
@import '../scss/_type';
@import '../divider/divider.component';

fl-card {
    display: block;
    box-sizing: border-box;
    margin-bottom: $spacer-y;
    padding: $spacer;
}

fl-card-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    margin: -$spacer;
    margin-bottom: $spacer-y;
    // padding: 0 $spacer-x;
    height: 48px;
    width: vw100;

    .fl-card-title {
        font-size: 1.25rem;
        margin-left: $spacer;
    }
}

fl-card-action-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    box-sizing: border-box;
    position: relative;

    margin: -$spacer;
    margin-top: $spacer-y;
    padding: 0 $spacer-x;
    height: 48px;
    width: vw100;
}

fl-card-divider {
    @extend hr[fl-divider];
    margin-top: $spacer-y;
    margin-bottom: -$spacer-y;
    margin-left: -$spacer-x;
    margin-right: -$spacer-x;
}

.fl-card-title-group {
    margin-top: $spacer * .5;
    margin-bottom: $spacer;
}

.fl-card-title {
    @extend .title;
    margin: 0;
}

.fl-card-subtitle {
    @extend .subtitle;
    margin: 0;
    margin-top: $spacer * .25;
}