<fl-toolbar color="primary">
  <wui-icon icon="shield"></wui-icon>
  <h1 class="fl-toolbar-title">Frontline <span class="lead">UX</span></h1>
  <span fxFlex></span>
  <wui-icon icon="rocket"></wui-icon>
  <wui-icon icon="book"></wui-icon>
</fl-toolbar>

<div fxLayout="row">
  <div fxFlex="20" wuiDepth>
    <wui-list>
      <wui-li routerLink="/avatar" routerLinkActive="active">Avatar</wui-li>
      <wui-li routerLink="/card" routerLinkActive="active">Card</wui-li>
      <wui-li routerLink="/colors" routerLinkActive="active">Colors</wui-li>
      <wui-li routerLink="/forms" routerLinkActive="active">Forms</wui-li>
      <wui-li routerLink="/inputs" routerLinkActive="active">Inputs</wui-li>
      <wui-li routerLink="/lists" routerLinkActive="active">List</wui-li>
      <wui-li routerLink="/section" routerLinkActive="active">Section</wui-li>
      <wui-li routerLink="/shadow" routerLinkActive="active">Shadow</wui-li>
      <wui-li routerLink="/toolbar" routerLinkActive="active">Toolbar</wui-li>
      <wui-li routerLink="/type" routerLinkActive="active">Typography</wui-li>
    </wui-list>
  </div>
  <div fxFlex="80">
    <!--<ngx-datatable class="fixed-height" [rows]="dataset" columnMode="flex" [footerHeight]="50" [scrollbarV]="true">
      <ngx-datatable-column name="Name" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Age" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>-->
    <router-outlet></router-outlet>
  </div>
</div>