<wui-page title="Card">
  <p>A Card is used to creates panels with box-shadow and padding automatically applied.</p>

  <fl-section title="Basic Card example">
    <fl-card>
      You can put anything in a Card.
    </fl-card>
  </fl-section>
  
  <fl-section title="Card components">
    <fl-card>
      <fl-card-header>
        Card title
        <span fxFlex></span>
        <fl-icon icon="cog"></fl-icon>
      </fl-card-header>
      <fl-card-action-row>
        <button fl-button>Action 1</button>
        <button fl-button>Action 2</button>
      </fl-card-action-row>
      A bunch of content stuff
      <fl-card-divider></fl-card-divider>
    </fl-card>
  </fl-section>
</wui-page>