<wui-page title="Card">
  <p>A Card is used to creates panels with box-shadow and padding automatically applied.</p>

  <fl-section title="Examples">
    <fl-card>
      You can put anything in a Card.
    </fl-card>

    <fl-card>
      <fl-card-title>Title goes here</fl-card-title>
      <fl-card-subtitle>Subtitle here</fl-card-subtitle>
      <fl-card-action-row>
        <button fl-button>Action 1</button>
        <button fl-button>Action 2</button>
      </fl-card-action-row>
      A bunch of content stuff
      <fl-card-divider></fl-card-divider>
    </fl-card>

    <fl-card>
      <fl-card-toolbar color="accent" title="Toolbar title">
        <button fl-icon-button>
          <fl-icon ngClass="fa-ellipsis-v"></fl-icon>
        </button>
      </fl-card-toolbar>
      <fl-card-action-row>
        <button fl-button>Action 1</button>
        <button fl-button>Action 2</button>
      </fl-card-action-row>
      A bunch of content stuff
    </fl-card>

    <!--<fl-card>
      <fl-card-toolbar title="Expandable">
        <button fl-icon-button flCardToggle (click)="collapsed.toggle()">
          <fl-icon ngClass="fa-code"></fl-icon>
        </button>
      </fl-card-toolbar>
      <fl-card-body #collapsed>This should be hidden until the Toggle button is pressed.</fl-card-body>
      <fl-card-body>A bunch of content stuff</fl-card-body>
    </fl-card>-->
    
    <fl-card>
      <fl-card-toolbar title="Expandable">
        <button fl-icon-button flCardToggle>
          <fl-icon ngClass="fa-code"></fl-icon>
        </button>
      </fl-card-toolbar>
      <fl-card-body collapsed="true">This should be hidden until the Toggle button is pressed.</fl-card-body>
      <fl-card-body>A bunch of content stuff</fl-card-body>
    </fl-card>
  </fl-section>
</wui-page>