<wui-page title="Card">
  <p>A Card is used to creates panels with box-shadow. Additional components further a Card's functionality/appearance.</p>

  <fl-section title="Examples">
    <fl-card>
      <p>The most basic form of a Card will simply render whatever it contains with no inherent padding.</p>
    </fl-card>
    
    <fl-card>
      <fl-card-text>
        Including <code>fl-card-text</code> will provide padding to the main text element.
      </fl-card-text>
    </fl-card>

    <fl-card>
      <fl-card-header title="Card Title" subtitle="Subtitle here"></fl-card-header>
      <fl-card-text>
        Do you really want him calling, Newo?<br>
        Do you really think he’s coming back to you?<br>
        Oh, once the world stops spinning, read that writing on the wall.
      </fl-card-text>
      <fl-card-actions>
        <button fl-button>Action 1</button>
        <button fl-button>Action 2</button>
      </fl-card-actions>
    </fl-card>

    <fl-card>
      <fl-card-toolbar title="Card with Toolbar" color="accent">
        <button fl-icon-button>
          <fl-icon ngClass="fa-ellipsis-v"></fl-icon>
        </button>
      </fl-card-toolbar>
      <fl-card-text>
        <p>We're throwing all caution to the wind<br>
        It's better to think about what's ahead, then behind them.<br>
        Only I have got a better chance at failure.<br>
        But my mind has a clever way of turning all the worst to right, I've found.<br>
        Oh, no. So tell them like you did it. No maybes.</p>
      </fl-card-text>
    </fl-card>
    
    <fl-card>
      <fl-card-header title="Expandable Header" subtitle="Subtitle here" [collapse]="collapseDemo"></fl-card-header>
      <fl-card-text #collapseDemo>
        Do you really want him calling, Newo?<br>
        Do you really think he’s coming back to you?<br>
        Oh, once the world stops spinning, read that writing on the wall.
      </fl-card-text>
      <fl-card-actions>
        <button fl-button>Action 1</button>
        <button fl-button>Action 2</button>
      </fl-card-actions>
    </fl-card>
  </fl-section>
  <br>

  <fl-section title="Card Header Properties">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td flColor="accentDark">title</td>
          <td class="code" flColor="primary">@Input</td>
          <td class="code"></td>
          <td>The text to display as the Card title.</td>
        </tr>
        <tr>
          <td flColor="accentDark">subtitle</td>
          <td class="code" flColor="primary">@Input</td>
          <td class="code"></td>
          <td>The text to display as the Card subtitle.</td>
        </tr>
        <tr>
          <td flColor="accentDark">collapse</td>
          <td class="code" flColor="primary">@Input</td>
          <td class="code"></td>
          <td>Reference to the <code>fl-card-text</code> element that can be expanded/collapsed.</td>
        </tr>
        <tr>
          <td flColor="accentDark">expandIcon</td>
          <td class="code" flColor="primary">@Input</td>
          <td class="code" flColor="secondaryText">fa-angle-down</td>
          <td>Override the default expand icon.</td>
        </tr>
        <tr>
          <td flColor="accentDark">collapseIcon</td>
          <td class="code" flColor="primary">@Input</td>
          <td class="code" flColor="secondaryText">fa-angle-up</td>
          <td>Override the default collapse icon.</td>
        </tr>
      </tbody>
    </table>
  </fl-section>
  <br>

  <fl-section title="Card Toolbar Properties">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td flColor="accentDark">title</td>
          <td class="code" flColor="primary">@Input</td>
          <td class="code"></td>
          <td>The text to display as the Toolbar title.</td>
        </tr>
        <tr>
          <td flColor="accentDark">color</td>
          <td class="code" flColor="primary">@Input</td>
          <td class="code"></td>
          <td>Override the default color with a theme color or custom hex value.</td>
        </tr>
      </tbody>
    </table>
  </fl-section>
</wui-page>