<wui-page title="Selection Controls">
  <p class="lead">Selection controls allow the user to select options.</p>
  <fl-section title="Radio">
    <p>Radio buttons allow the user to select one option from a set. Use radio buttons for exclusive selection if you think that the user needs to see all available options side-by-side.</p>
    <p>Otherwise, consider a <code>Select</code>, which uses less space than displaying all options.</p>
    <fl-card>
      <fl-card-toolbar title="Examples"></fl-card-toolbar>
      <fl-card-text>
        <fl-radio-group [(ngModel)]="gender">
          <fl-radio label="Boy" value="boy"></fl-radio>
          <fl-radio label="Girl" value="girl"></fl-radio>
        </fl-radio-group>
        <p *ngIf="gender">You selected {{gender}}</p>
      </fl-card-text>
    </fl-card>
  </fl-section>

  <fl-section title="Radio Properties">
    <table class="table"></table>
  </fl-section>
</wui-page>