@import '../scss/_variables';
@import '../scss/_mixins';
@import '../scss/shadows';
@import '../scss/_icon';

@mixin user-select($value) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%btn-base {
    box-sizing: border-box;
    position: relative;

    @include user-select(none);
    cursor: pointer;
    outline: none;
    border: none;

    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    font-size: $btn-font-size;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;

    margin: ($spacer-y * .5) 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 ($btn-padding-x / 2);
    border-radius: $btn-border-radius;

    &:focus {
        background-color: rgba(black, 0.12);
        outline: 0;
    }

    & + * {
        margin-left: $spacer-x / 2;
    }
}

.fl-button,
.fl-icon-button {
    @extend %btn-base;
    background: none;
}

.fl-icon-button {
    line-height: inherit;
    min-width: 0;

    padding: 12px;
    height: 48px;
    width: 48px;
}

.wui-button {
    box-sizing: border-box;
    position: relative;

    @include user-select(none);
    outline: none;
    border: none;

    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;

    font-size: $btn-font-size;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;

    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: $btn-padding-y, $btn-padding-x;
    border-radius: $btn-border-radius;

    // @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
}

.wui-raised-button {
    @extend .wui-button;
    @extend .fl-shadow-4;

    transform: translate3d(0, 0, 0);

    &[disabled] {
        box-shadow: none;
    }
}

.wui-button,
.wui-raised-button,
.fl-icon-button {
    // color: currentColor;
    .wui-button-wrapper > * {
        vertical-align: middle;
    }

    &.primary {
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
    &.accent {
        @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
    }
    &.info {
        @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &.success {
        @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &.warning {
        @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    &.danger {
        @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
}