@import '../scss/_variables';
@import '../scss/_mixins';
@import '../scss/shadows';

@mixin user-select($value) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wui-button,
.wui-icon-button {
    box-sizing: border-box;
    position: relative;

    @include user-select(none);
    outline: none;
    border: none;

    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;

    font-size: $btn-font-size;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;

    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: $btn-padding-y, $btn-padding-x;
    border-radius: $btn-border-radius;

    // @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
}

.wui-raised-button {
    @extend .wui-button;
    @extend .wui-depth-4;

    transform: translate3d(0, 0, 0);

    &[disabled] {
        box-shadow: none;
    }
}

.wui-button,
.wui-raised-button,
.wui-icon-button {
    // color: currentColor;
    .wui-button-wrapper > * {
        vertical-align: middle;
    }

    &.primary {
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
    &.accent {
        @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
    }
    &.info {
        @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &.success {
        @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &.warning {
        @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    &.danger {
        @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
}