<wui-page title="Icon">
  <p><kbd>fl-icon</kbd> will render font-awesome icon fonts at 24px x 24px. Color can be controlled using the flColor directive.</p>

  <fl-section title="Examples">
    <fl-icon ngClass="fa-tree" color="#33ff77"></fl-icon>
    <fl-icon ngClass="fa-rocket" color="accent"></fl-icon>
    <fl-icon ngClass="fa-user-circle"></fl-icon>
  </fl-section>

  <fl-section title="Examples using an object">
    <fl-icon [ngClass]="['fa-spinner', 'fa-spin', 'fa-fw']" color="#33ff77"></fl-icon>
    <!--<fl-icon icon="fa-rocket" color="accent"></fl-icon>
    <fl-icon icon="fa-user-circle"></fl-icon>-->
  </fl-section>

  <fl-section title="Properties">

  </fl-section>
</wui-page>