<wui-page title="Grid Lists">
  <p class="lead">Arranges list-items as cells in a grid-based layout.</p>
  <fl-section title="Simple Example">
    <md-grid-list cols="3" row-height="1:1">
      <fl-grid-tile>
        <h1>Tile 1</h1>
      </fl-grid-tile>
      <fl-grid-tile>
        <h1>Tile 2</h1>
      </fl-grid-tile>
      <fl-grid-tile>
        <h1>Tile 3</h1>
      </fl-grid-tile>
      <fl-grid-tile>
        <h1>Tile 4</h1>
      </fl-grid-tile>
      <fl-grid-tile>
        <h1>Tile 5</h1>
      </fl-grid-tile>
      <fl-grid-tile>
        <h1>Tile 6</h1>
      </fl-grid-tile>
    </md-grid-list>
  </fl-section>
  
  <fl-section title="Complex Card Example">
    <md-grid-list cols="3" row-height="1:1" gutterSize="16">
      <fl-grid-tile>
        <fl-card fxFlexFill>
          <h1>Tile 1</h1>
          <pre class="codeblock">
&lt;fl-grid-tile&gt;
  &lt;fl-card fxFlexFill&gt;...&lt;/fl-card&gt;</pre>
        </fl-card>
      </fl-grid-tile>
      <fl-grid-tile colspan="2">
        <fl-card fxFlexFill>
          <h1>Tile 2</h1>
          <pre class="codeblock">
&lt;fl-grid-tile colspan="2"&gt;
  &lt;fl-card fxFlexFill&gt;...&lt;/fl-card&gt;</pre>
        </fl-card>
      </fl-grid-tile>
      <fl-grid-tile rowspan="2" colspan="2">
        <fl-card fxFlexFill>
          <h1>Tile 3</h1>
          <pre class="codeblock">
&lt;fl-grid-tile colspan="2" colspan="2"&gt;
  &lt;fl-card fxFlexFill&gt;...&lt;/fl-card&gt;</pre>
        </fl-card>
      </fl-grid-tile>
      <fl-grid-tile flBgColor="accent">
        <h1>Tile 4</h1>
        <pre class="codeblock">&lt;fl-grid-tile&gt;...</pre>
        <fl-grid-tile-overlay>
          <span>Overlay footer</span>
          <button fl-icon-button>
            <fl-icon ngClass="fa-star-o"></fl-icon>
          </button>
        </fl-grid-tile-overlay>
      </fl-grid-tile>
      <fl-grid-tile>
        <fl-card fxFlexFill>
          <h1>Tile 5</h1>
          <pre class="codeblock">
&lt;fl-grid-tile&gt;
  &lt;fl-card fxFlexFill&gt;...&lt;/fl-card&gt;</pre>
        </fl-card>
        <fl-grid-tile-overlay position="top">
          <span>Overlay header</span>
        </fl-grid-tile-overlay>
      </fl-grid-tile>
    </md-grid-list>
  </fl-section>
</wui-page>