<wui-page title="Grid Lists">
  <p class="lead">Arranges list-items as cells in a grid-based layout.</p>
  <fl-section title="Simple Example">
    <md-grid-list cols="3" row-height="1:1">
      <md-grid-tile>
        <h1>Tile 1</h1>
      </md-grid-tile>
      <md-grid-tile>
        <h1>Tile 2</h1>
      </md-grid-tile>
      <md-grid-tile>
        <h1>Tile 3</h1>
      </md-grid-tile>
      <md-grid-tile>
        <h1>Tile 4</h1>
      </md-grid-tile>
      <md-grid-tile>
        <h1>Tile 5</h1>
      </md-grid-tile>
      <md-grid-tile>
        <h1>Tile 6</h1>
      </md-grid-tile>
    </md-grid-list>
  </fl-section>
  
  <fl-section title="Complex Example">
    <md-grid-list cols="3" row-height="1:1">
      <md-grid-tile>
        <h1>Tile 1</h1>
      </md-grid-tile>
      <md-grid-tile colspan="2">
        <h1>Tile 2</h1>
      </md-grid-tile>
      <md-grid-tile rowspan="2" colspan="2">
        <h1>Tile 3</h1>
      </md-grid-tile>
      <md-grid-tile>
        <h1>Tile 4</h1>
      </md-grid-tile>
      <md-grid-tile>
        <h1>Tile 5</h1>
      </md-grid-tile>
    </md-grid-list>
  </fl-section>
</wui-page>