<!--<div class="fl-select-trigger" cdk-overlay-origin (click)="toggle()" #origin="cdkOverlayOrigin" #trigger>
  <span class="fl-select-placeholder">{{ placeholder }}</span>
</div>

<ng-template cdk-connected-overlay [origin]="origin" [open]="panelOpen" hasBackdrop (backdropClick)="close()"
  backdropClass="cdk-overlay-transparent-backdrop" [positions]="_positions" [minWidth]="_triggerWidth"
  [offsetY]="_offsetY" (attach)="_onAttached()" (detach)="close()">
  <div class="fl-select-panel {{ 'fl-' + color }}" [ngClass]="panelClass" [@transformPanel]="'showing'"
    (@transformPanel.done)="_onPanelDone()" (keydown)="_handlePanelKeydown($event)"
      [style.transformOrigin]="_transformOrigin" [class.mat-select-panel-done-animating]="_panelDoneAnimating">
    <div class="fl-select-content" [@fadeInContent]="'showing'" (@fadeInContent.done)="_onFadeInDone()">
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>-->